<div class="row row-footer">
    <div class="col-md-6">
        <p>Entgra App Manager | &copy;
            <script>document.write(new Date().getFullYear());</script>
            <a href="https://entgra.io/" target="_blank" class="a-footer">entgra.io</a>.
        </p>
    </div>
</div>
