<div class="main-content">
    

        <h2>DocumentList</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter">
                            <p>count</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Number of Documents returned.</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#integer">integer</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">1</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>next</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Link to the next subset of resources qualified.\nEmpty if no more resources are to be returned.</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&amp;offset=2</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>previous</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Link to the previous subset of resources qualified.\nEmpty if current subset is the first subset returned.</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&amp;offset=0</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>list</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked"></p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#array">array</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked"></p></td>
                    </tr>
                
                </tbody>
            </table>
    
</div>
