body, div, p, span, a, input, select, textarea, label, h1, h2, h3, h4, h5, h6, strong, button {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    color: #34495E;
    font: 14px/1.531 'Lato',sans-serif;
    height: 100%;
}

#header {
    background: #252525;
    height: 60px;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #000;
}
.row-footer {
    color: #ffffff;
    font-size: 14px;
    line-height: 27px;
}
#footer {
    background-color: #f5f5f5;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#body{
    flex: 1;
}

.footer-txt{
    font-size: 12px;
}

.api-count-display {
    color: #747474;
    font-size: 15px;
    padding: 10px 20px 5px;
}

.api-count-display span {
    font-size: 16px;
    font-weight: bold;
}
label, input, button, select, textarea{
    font-size: 13px;
}
.copy-msg{
    margin:10px 0 10px 0;
}
.copy-msg li{
    float:right;
    margin-right:10px;
    list-style-type:none;
}
.copy-msg li a{
    color:#CDA869;
}
.follow-us{
  margin:10px 0 10px 0;
}
.follow-us li{
     float:right;
    margin-right:5px;
    list-style-type:none;
}
.icon-blog{
    background:transparent url(../images/mailList.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-twitter{
    background:transparent url(../images/twitter.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-facebook{
    background:transparent url(../images/facebook.png) no-repeat left top;
    display:block;
    height:30px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.icon-rss{
    background:transparent url(../images/rss.png) no-repeat left top;
    display:block;
    height:20px;
    margin-left:10px;
    width:20px;
    cursor:pointer;
}
.thumbnail{
    line-height:20px;
    text-align:center;
    min-height:184px;
}
.thumbnail a{
    cursor:pointer;
}
.thumbnail img{
    height:78px;
    width:78px;
}

.content-section{
    background:white;
}

.content-data{
    padding:20px;
}
.content-section, .content-section-small, .title-section{
}
.title-section h1{
    margin:0 0 0 0;
    font-weight: 200;
}
.login-main{
    margin-top: 100px;
}
.title-section h3{
    margin:0 0 0 20px;
    font-size:18px;
}
.title-section h2{
    margin:0 20px;
    font-size:22px;
    color: #7d7d7d;
    padding:10px;
}
.title-section-edit h2{
    margin:0 20px;
    font-size:22px;
    color: #7d7d7d;
    padding:10px;
}

.brand{
    position:absolute;
}
table a{
    cursor:pointer;
}
.table th, .table td {
    font-size:12px;
}
#main-ajax-loader {
    text-align : center;
    height : 400px;
}
.requiredAstrix{
    color:red;
}
.nav .nav-header {
    font-size:13px;
}
.errorlist{
    color:#d10000;
    padding:5px 0px;
}
label.error{
    color:#d10000 !important;
    padding:5px;
}
input.error{
    border-color: rgba(228, 38, 38, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(218, 68, 74, 0.6);
}
.resourceTableDiv{
    padding-top:10px;
}

#copy-api {
    display: none;
}

.api-thumb {
    margin-bottom: 5px;
}
ul.thumbnails div.thumbnail{
    width:160px;
    height: 177px;
}
ul.thumbnails div.thumbnail:hover{
     border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.btn-api-del{
    margin-left: 136px;
    margin-top: -12px;
    opacity: .5;
    position: absolute;
}
.top-spaced{
    padding-top:40px;
}
.left-spaced{
    padding-left:10px;
}
div.navbar-inner {
    height:83px;
    min-width:450px;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    -webkit-box-shadow: 0 0 0 #fff;
}
.menu-content{
    margin: 0 0 0;
}
.powered-by-logo {
    display: block;
    width: 231px;
    height: 20px;
    background: transparent url(../images/poweredby.png) no-repeat left top;
}

#push, #footer {
    height: 60px;
}
.navbar{
    margin-bottom: 16px;
}
.navbar .nav > li > a{
    color: #fff;
    font-weight: bold;
    text-shadow: none;
}
.navbar .divider-vertical{
     background-color: #fff;
}
.even-width-button{    
    font-size: 11px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    width: 84px;
}
.icon-lifecycle{
    background:transparent url(../images/lifecycle.png) no-repeat 0 0;
    width:14px;
    height:14px;
}
.lifeCycleTable{
    margin-bottom:10px;
}
.lifeCycleTable td{
    padding:5px 0;
}
.messageText{
    font-size:13px;
}
.user-name{
    cursor:pointer;
}
.loadingButton, .loadingButton:hover{
    background-image:url(../images/ajax-loader-black.gif);
    background-repeat:no-repeat;
    background-position:10px center;
    text-indent:30px;
    padding:20px;
    cursor:default;
}
.nav-list > li > a.noHover:hover{
    background:#fff;
}

#left li a,.breadcrumb a {
    cursor:pointer;
}
.navbar .nav > li > #userInfoMenu{
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 0 0 0 0;
    border-top: medium none;
    margin-left: -52px;
    margin-top: -2px;
}
.navbar .nav > li > .dropdown-menu:before,.navbar .nav > li > .dropdown-menu:after{
    border-bottom: none;
    border-left: none;
    border-top: none;
}
.themeSelection,.userInfoSection{
    padding:20px;
}
.themeSelection{
    width:400px;
}
.navbar .navbar-inner .nav.actions a.themeSelectionLink {
    margin:5px;
    color:#444;
}
.themeSelection a{
    color:#000;
}
.login-header{
    margin-bottom:37px;
}
#login-link{
    margin-left:0;
}
.logout-link-special{
    background:#999;
    padding:10px;
}
#resourceTable td label.inline, #resourceTable td label.inline{
    margin-left:10px;
    width:40px;
    padding:0 5px 5px;
}
#userInfoMenu{
    margin-left:-100px;
    position:absolute;
    background:white;
}
#userMenu{
    cursor:pointer;
}
#editStatusForm{
    padding-bottom:0;
}
.userSpecialCell{
    width:150px;
}
.appSpecialCell{
    width:150px;
}
.tierSpecialCell{
    width:50px;
}
/*
@media all and (max-width: 850px) {
    #left{
        display:block;
        width:100%;
    }
}
@media all and (max-width: 900px) {
    div.login-container div.row{
        padding:0 10px;
    }
    div.login-container div.span4{
        width:94%;
        margin:0;
        display:block;
        float:none;
    }
    #layout-base {
        min-height:0;
    }
}
@media all and (max-width: 1025px) {
     .pagination a{
        padding:0 9px;
    }
}
*/
.login-container{
    margin-top:20px;
}
.form-horizontal .controls .tierHelp,form.form-search .tierHelp {
  background:transparent url(../images/help.png) no-repeat;
  width:16px;
  height:16px;
  margin-top:-26px;
  cursor:pointer

}
form.form-search .tierHelp {
    margin-top:2px;
}

.form-horizontal .controls .tierPara,.form-horizontal .controls .rolePara{
  display: block;
  float: right;
  width: 63%;
  color: #999999;
  margin-bottom: 0;
  margin-top: 0;
  text-align:justify;
}

.form-horizontal .controls select {
  width: 32%;
}
.graphTable a {
       color: #c75f3e;
}

.graphTable {
       padding: 0;
       margin: 10px 0 0 0;
   border-left: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
}

.graphTable caption {
       padding: 0 0 5px 0;
       width: 700px;
       font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       text-align: right;
}

.graphTable th {
       font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #4f6b72;
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       border-top: 1px solid #C1DAD7;
       letter-spacing: 2px;
       text-transform: uppercase;
       text-align: left;
       padding: 6px 6px 6px 12px;
       background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.graphTable  th.nobg {
       border-top: 0;
       border-left: 0;
       border-right: 1px solid #C1DAD7;
       background: none;
}

.graphTable td {
       border-right: 1px solid #C1DAD7;
       border-bottom: 1px solid #C1DAD7;
       background: #fff;
       padding: 6px 6px 6px 12px;
       color: #4f6b72;
}


.graphTable td.alt {
       background: #F5FAFA;
       color: #797268;
   width:100%;
}

.graphTable th.spec {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #fff;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.graphTable th.specalt {
       border-left: 1px solid #C1DAD7;
       border-top: 0;
       background: #f5fafa;
       font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
       color: #797268;
}
.remove-well-space{
   padding:0 0 10px 0;
}

#resourceTable  tr:nth-child(2n1) td{
     background-color: #cccccc;
}
#resourceTable td{
    vertical-align:middle;
    padding:3px;
}
#resourceTable td a.edit-btn-special{
    margin-top:10px;
}
#resourceTable td div.container-fluid{
    padding:0 0 0 5px;
}
#resourceTable label.checkbox {
    height:23px;
    line-height:23px;
}
#resourceTable select{
    font-size:11px;
}
#resourceTableDiv a{
    cursor:pointer;
}
#resourceTableDiv a.btn{
    margin-bottom:10px;
    text-align:left;
}
#resourceTableDiv button.btn{
    margin-bottom:10px;
    text-align:left;
}
.up-down-arrows{
    margin-left: 25px;
    margin-top: -40px;
    position: absolute;
}
.apiFaultyByTimeChart-filter{
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding:5px;
    margin-bottom:10px;
}


.easyPieWrapper{
    margin: 10px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #636363;
    text-align: center;
    width:124px;
}
.easyPieChart{
    margin: 0 auto;
}
#apiChart{
    font-size: 0.8em;
}
#serviceTimeChart{
    font-size: 1.2em;
}
#rangeSliderWrapper{
    height: 60px;
    position: relative;
    border: 2px solid #C8C8C8 !important;
}
#rangeSliderWrapper #rangeSlider{
    position: relative;
    top: 40px;
    width:96%;
    left:10px;

}
.affix{
    position: fixed!important;
    top:10px;
    z-index: 9999!important;
}
#serviceTimeChart{
    color:#3C565E!important;
    font-size: 1.2em!important;
}

.tdNumberCell{
    text-align: right!important;
}
.errorWrapper{
    font-size:1.4em;
}
.top-level-warning {
    display: block;
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
    width: 98%;
}
a.warningLink{
   color: #FFFFFF;
    text-decoration: underline;
}
a.warningLink:hover{
    color: #FFE9B5;
}

.btn-api-del {
    margin-left: 143px;
    margin-top: 7px;
    opacity: 0.5;
    position: absolute;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
h1, h2, h3, h4, h5, h6{
    margin:0;
}
.footer-main{
    background: #f5f5f5;
    padding:10px;
    z-index:-1;
    color:#9f9f9f;
    border:solid 1px #ccc;
    margin: 0 20px;
}

.btn-success:hover, .btn-success:focus{
    background-color: #3cbca4;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: none repeat scroll 0 0 #444;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(255, 252, 176, 0.76);
}


.btn-primary {
    background: none repeat scroll 0 0 #000;
    color: #FFFFFF;
    text-shadow: none;
}

.header{
    background:transparent;
    height:143px;
    padding:0;
    position:absolute;
    width:100%;
    z-index:-1;
}
.top-menu{
    background:transparent;
    height:143px;
}
.brand{
    width:185px;
    height:26px;
    display:block;
    margin-top:8px;
    margin-left:0;
}
.menu-back{
    background:transparent;
    height:55px;
    margin-left: 0;
}
.menu-content{
    margin-left:0;
    height:46px;
}
.navbar .nav > li > a.open,.navbar .nav > li > a.open:hover{
    background: #000;
    color: #fff;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
    color: #fff !important;
}
#userMenu i{}
.form-actions{
    background: transparent;
}

.navbar ul.login-sign-up{
    margin-right: 0;
}
div.navbar-inner{
    padding-right:0;
}

.share-pane a.facebook{
    background:transparent url(../images/facebook_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.linkedin{
    background:transparent url(../images/linkedin_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.share-pane a.twitter{
    background:transparent url(../images/twitter_16.png) no-repeat left top;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom:6px;
}
.help-links li a{
    color: #aeaeae;
}
.help-links li{
    list-style-type: none;
}
.help-links{
    margin:0;
}
.help-and-links div.pull-left{
    margin-right: 40px;
}
.help-links li a.more-link{
    color:#777;
}
.footer-mains h5{
    margin-bottom:15px;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus{
   /* background: none repeat scroll 0 0 #E84C3D;*/
    color:#fff;
    text-align: center;
}
.left-menu-back01 li.nav-header{
    color:#444;
}
.thumbnail h5 div{
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   display: block;
}
.navbar-inner,.menu-content{
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.radio-class {
	float:left;
	clear:none;
	margin: 2px 0 0 2px;
}
.radio-label-class {
	float:left;
	clear:none;
	display:block;
	padding: 2px 1em 0 0;
}
.form-horizontal div.transport-styles {
    margin-bottom:30px;
}

.transport-styles label.error{
    display:block;position:absolute;margin-top:40px;margin-left:-23px;
}
legend{
    margin-left:10px;
}
.form-horizontal div.inline-help{
    margin-top:0;
}
div.controls .help-block{
    color: #747474;
    font-size: 11px;
    margin-top: 5px;
}
/*.legend-with-hidden-info{
    margin-bottom: 0;
}*/
.hidden-section{
    margin-left: 10px;
}
.resourceTableContainer{
    padding-left:10px;
}
.legend-link{
    font-size: 11px;
}
i.icon-keys{
    margin-top:7px;
}
.js_hidden_section_title{
    cursor: pointer;
}
#editAPIForm div.control-group, #addAPIForm div.control-group{
    margin-bottom: 8px;
}
#editAPIForm div.form-actions, #addAPIForm div.form-actions{
    padding-left: 10px;
}

._jsonform-array-ul .controls{
    margin-left:0px !important;
    margin-top:25px;
}

._jsonform-array-ul label{

    float:left;
    margin-bottom:0px;
    text-align:left !important;
}

._jsonform-array-ul {
    margin-left:0px !important;
}

.url_validate_label { margin-left: 5px;}

#advance_form legend{
    font-size:14px;
    font-weight:bolder;
    margin-left:0px;
    line-height:16px;
}

/* bootstrap overide */
legend + .control-group {
    margin-top:0px;
}
.left-menu-back01{
    min-height: 190px;
}
.left-menu-back01 li a{
    padding: 10px 0;
    text-align: center;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.left-menu-back01 i{
    font-size:25px;
}
.content-data{
    min-height: 111px;
}
.task-col{
    width:200px;
}
.date-time-col{
    width:200px;
}
.manage-col{
    width:310px;
}
.dropdown-menu > li > a:hover{
    background: #229A55;
    color:#fff;
}
.row-footer li {
    display: inline-block;
    margin: 0 10px;
}
.row-footer li:last-child {
    float: right;
}

.dropdown-submenu > a:hover, .dropdown-submenu > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background: none repeat scroll 0 0 #ED6D49;
    color: #FFFFFF;
    text-shadow: none;
}
.login-sign-up li {
    line-height: 40px;
}
#userMenu > .caret{
    margin-top: 19px;
    margin-left: 7px;
    border-top: 4px solid #FFFFFF;
}
.custom-verticle > .dropdown-menu{
    top: 16%;
    left: 157px;
    border-radius: 0px !important;
}

.no-policy {
    text-align: center;
    margin-top: 60px;
}

.no-owner {
    text-align: center;
    margin-top: 60px;
}

.div-custom {
    text-align: center;
    vertical-align: middle;
}

.header-div {
    font-weight: bold;
}